{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parolni unutdingizmi?{% endblock title %}
{% block content %}
<div class="container" style="width: 55rem; margin-top: 1rem;">
    <h2>Parolni unutdingizmi?</h2>
  <p>Quyida email manzilingizni kiriting, biz sizga parolingizni tiklash uchun maxsus link yuboramiz!</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Yuborish</button>
    </form>
</div>
{% endblock content %}